.join-us-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
}

.list-footer-social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    padding-left: 0;
}
.footer-social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .footer-social-icons-svg,
    &:focus .footer-social-icons-svg {
        fill: $white;
    }

    &:hover,
    &:focus {
        background-color: $hover-button-color;
    }
}

.footer-social-icons-svg {
    width: 20px;
    height: 20px;
    fill: $white;
}

.footer-social-icons-item:not(:last-child) {
    margin-right: 10px;
}
