.footer {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $hero-background-color;
}

.footer-list {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0px;
}
.footer-div-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.footer-list-item {
    margin-bottom: 9px;
}

.footer-widget {
    min-width: 270px;
    margin-right: 30px;
}
