.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white;
}

.footer-mail {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $hover-button-color;
    }
}

.footer-tel {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $hover-button-color;
    }
}
