.main-nav {
    display: flex;
    width: 1200px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -50px;

    & .link {
        display: block;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $main-text-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link:hover,
    & .link:focus {
        color: $hover-button-color;
    }

    & .link.current {
        color: $hover-button-color;
        position: relative;
        transition: 5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .current::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 28.6px;
        background-color: currentColor;
        border-radius: 2px;
        position: absolute;
    }
}

.site-nav-item {
    flex-basis: calc(100% / 3 - 50px);
    margin-right: 50px;
}

.nav-nav {
    display: flex;
    align-items: center;
}
