.ourprojects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    align-items: center;
}
.projects-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    margin-top: -30px;
    margin-left: -30px;
}
.project-info-item {
    max-width: 370px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.project-img-box {
    position: relative;
    overflow: hidden;
}

.project-box-desc {
    display: inline-block;
    position: absolute;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: $white;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-box-link {
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }

    &:hover .project-box-desc,
    &:focus .project-box-desc {
        transform: translateY(0);
    }
}

.project-info-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}
.projecthead {
    margin-bottom: 4px;
    margin-right: auto;

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: $main-text-color;
}

.projectdesc {
    margin-top: 0;
    margin-bottom: 20;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $secondary-color;
}
