.project-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    justify-content: center;
}

.projectbutton {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
    background: $team-background-color;
    border-radius: 4px;
    border: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $hover-button-color;
        color: $white;
        cursor: pointer;
    }
}

.project-button-item:not(:last-child) {
    margin-right: 8px;
}
